.wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-family: var(--font-bold);
  color: #333;
}

@media screen and (max-width: 1140px) {
  .title {
    text-shadow: 0 0 3px rgba(255, 255, 255);
  }
}
